/* Write your CSS here! */
h1 {
    color: #d08530;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    font-size: 400%;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
}
body {
    background: linear-gradient(to top, #30cfd0 0%, #0d045e 100%);
}
header{
    color: rgba(252, 79, 26, 0.918);
    font-family: 'Ninja Naruto';
    font-style: normal;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
}
h2{
    color: rgba(245, 8, 8, 0.918);
    font-family: 'Ninja Naruto';
    font-style: normal;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
}
footer{
    color: rgba(4, 20, 92, 0.918);
    background-color:#d08530 
    font-weight: bold;
    font-family: 'Ninja Naruto';
    font-style: normal;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    grid-area: footer; 
}





