/* Write your CSS here! */
h1 {
    color: #d08530;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    font-size: 400%;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
}
body {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
header{
    color: rgba(252, 79, 26, 0.918);
    font-family: 'Ninja Naruto';
    font-style: normal;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
}
footer{
    color: rgba(26, 67, 252, 0.918);
    font-family: 'Ninja Naruto';
    font-style: normal;
    src: local('Ninja Naruto'), url('https://fonts.cdnfonts.com/s/9809/njnaruto.woff') format('woff');
}




